[Unit]
Description=Report precos database status hourly

[Timer]
OnCalendar=hourly
Persistent=true
Unit=precos-status.service

[Install]
WantedBy=timers.target
